/* Application styles could go here */
/*
 * Colors:
 * Dark red: 753C28
 * Dark orange: B3522B
 * Light orange: E69849
 * Pale tan: F5F2E9
 * Dark Blue: 456889
 * Blue/grey: A2B1B9
 * Light Blue: DDEAF1
 * Dark Grey #333
 * Light Grey (text): #999
 */
 
body{
    font-family:arial, sans-serif;
    margin-left:2em;
    margin-top:2em;
    padding:4em;
}

/* XSLT Forms styles */
/*#xsltforms_debug {display:none;}*/
.xforms-label {display:inline; padding-right:.5em; padding-left:1em;}
.xforms-select option{width: 40em;}

body .modal-dialog{
/* new custom width */
    width: 950px;
}

.modal-body {
    max-height: 600px;
    overflow-y: auto;
}

.xforms-dialog { 
    /* some styles to position the modal at the center of the page */
    position: fixed;
    top: 50%;
    left: 50%;
    width: 950px !important;
    min-height: 500px;
    max-height: 650px;
    overflow-y: auto;
    margin-left: -100px;
    margin-top: -100px;
    background-color: white;
    /* needed styles for the overlay #B8CED8*/
    z-index: 10; /* keep on top of other elements on the page */
    outline: 9999px solid rgba(184, 206, 216,0.8);
}
/* body of xform */
#xforms{
    margin:20px;
    padding:20px;
    background:white;
}

.select-group {margin-left: 1em; border-left: 1px solid #ccc; padding-left:1em; margin-bottom:2em;}

.input-md input.xforms-value{width:30em;}

.horiz-tab-menu {margin:2em 0 .5em 0;}

.horiz-tab-menu .tabs{
    margin-top:1em;
    border:2px white solid;
    font-weight:bold;
    margin-right:0;
    margin-left:0;
    padding:1em;
}
.horiz-tab-menu .tabs .edit .xfValue{
    color:white !important;
}
.horiz-tab-menu .edit{
    background-color:#ccc;
}
.horiz-tab-menu .edit:before{
    font-family:"Glyphicons Halflings";
    content:"\270f";
    padding-right:1em;
    background-color:#ccc;
    /*color:white;*/
}
.horiz-tab-menu .view{
    background-color:#eee;
}
.horiz-tab-menu .view:before{
    font-family:"Glyphicons Halflings";
    content:"\e105";
    padding-right:1em;
    background-color:#eee;
    /*color:white;*/
}
/* View/Edit tab panel */
.tab-panel {margin-bottom:1.5em;}
.tab-panel .edit{
    border-top:.5em #ccc solid;
    background-color:white;
    margin-top:0;
    padding-top:1em;
    padding-left:1em;
}

.tab-panel .view{
    border-top:.5em #eee solid;
    background-color:white;
    margin-top:0;
    padding-top:1em;
    padding-left:1em;
}

.xforms-repeat-item {margin-bottom:.5em;}
.view .xfSelectedCase{
    margin:0;
    border:2px #ccc solid;
    background-color:#eee;
    padding:2em;
}
.inline-repeat{
    display:block;
    clear:both;
}
.inline-repeat .xfControl{
    padding-right:1em;
    padding-bottom:.25em;
}
/* Controls */
.add a:before{
    font-family:"Glyphicons Halflings";
    content:"\e081";
    color:#81c348;
}
.remove a:before{
    font-family:"Glyphicons Halflings";
    content:"\e083";
    color:red;
}
.input-sm input{
    width:10em;
}
.input-md input{
    width:20em;
}
.input-lg input{
    width:30em;
}
.lang-switch {display:inline-block;}
.xfRepeatIndex{background-color:white !important; padding:.5em;}
/* XSLTForms specific */
.xforms-textarea {display:block;}
/*span.xforms-textarea {display:block;} label get wrapped in this as well */
span.value textarea{display:block; width: 80% !important; margin-left:6em; display:block;}
/*span.large label{display:inline;}*/

.indent-form {margin-left:2.5em;}
.indent {margin-left:1em;}